.app {
  min-height: 100vh;
}

body {
  font: var(--font-m);
  background: var(--background-color-primary);
  color: var(--text-color-primary);
}

.page-content {
  display: flex;
}

.page-wrapper {
  padding: 10px 20px;
  width: 100%;
}
