.app {
  font: var(--font-m);
  background: var(--background-color-primary);
  color: var(--text-color-primary);
  min-height: 100vh;
}

.page-content {
  display: flex;
}

.page-wrapper {
  width: 100%;
}
