:root {
  --font-family-main: 'Segoe UI', tahoma, geneva, verdana, sans-serif;
  --font-size-m: 16px;
  --font-line-m: 24px;
  --font-m: var(--font-size-m) / var(--font-line-m) var(--font-family-main);
  --font-size-l: 16px;
  --font-line-l: 24px;
  --font-l: var(--font-size-l) / var(--font-line-l) var(--font-family-main);

  // Размеры
  --navbar-height: 50px;
  --sidebar-width: 300px;
  --sidebar-collapsed-width: 80px;

  // Цвета
  --primary-white-color: #fff;
  --primary-black-color: #000;
  --primary-blue-color: #3b82f6;
  --primary-shadow-color: rgb(59 130 246 / 50%);

  // Другое
  --border-radius: 10px;
  --shadow: 0 4px 12px rgb(0 0 0 / 10%)
}
