.AppLink {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 5px;
  color: var(--text-color-primary);
  text-wrap: nowrap;
}

.primary {
  color: var(--text-color-primary);
}

.second {
  color: var(--second-color);
}
