.block {
  margin-bottom: 1rem;
}

.image {
  width: 100%;
  height: auto;
  overflow: hidden;
  border-radius: var(--border-radius);
}

.text {
  display: block;
  width: 100%;
  text-align: center;
}
