.form {
  display: flex;
  width: 100%;
  gap: 30px;
  padding: 20px;
  border-radius: var(--border-radius);
  box-shadow: var(--shadow);
  background-color: var(--background-card-color-primary);
  justify-content: space-between;
}

.avatar {
  width: 200px;
  flex-shrink: 0;
}

.actions {
  width: 100%;
  margin-top: 20px;
}
