.button {
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
  color: var(--text-color-primary);
  padding: 10px 15px;
  background-color: var(--background-color-secondary);
  border-radius: 10px;

  &:disabled {
    cursor: not-allowed;
    opacity: 0.4;
  }
}

.clear {
  padding: 0;
  margin: 0;
  border: none;
  background: none;
}

.outline {
  background: none;
  border: 1px solid var(--text-color-primary);
}

.confirm {
  color: var(--primary-white-color);
  background-color: var(--success-color);
}

.icon {
  width: 20px;
  height: 20px;
}

.icon-wrap {
  animation: rotate 1s infinite linear;
}

@keyframes rotate {
  100% {
    transform: rotate(-360deg);
  }
}
