.Navbar {
  width: 100%;
  height: var(--navbar-height);
  background: var(--background-color-secondary);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

.link {
  margin-left: 10px;

  &:first-child {
    margin-left: 0;
  }
}
