.input {
  border-radius: 10px;
  border: 2px solid var(--border-color-primary);
  width: 100%;
  padding: 8px 15px;

  &:focus {
    border-color: var(--border-color-secondary);
  }
}

.label {
  font-size: 0.875rem;
}

.input-wrap {
  width: 100%;
}
