.input {
  border-radius: 10px;
  border: 2px solid var(--border-color-primary);
  width: 100%;
  padding: 8px 15px;

  &:focus {
    border-color: var(--primary-blue-color);
    box-shadow: 0 0 0 2px var(--primary-shadow-color);
  }
}

.label {
  font-size: 0.875rem;
}

.input-wrap {
  width: 100%;
  position: relative;
}

.error {
  position: absolute;
  top: calc(100% - 3px);
  left: 0;
  font-size: 0.75rem;
  color: var( --accent-color-secondary);
}
