.profile-card {
  padding: 20px;
  border-radius: var(--border-radius);
  box-shadow: var(--shadow);
  background-color: var(--background-card-color-primary);
  color: var(--text-color-primary);

  &__username {
    display: block;
    margin-bottom: 15px;
    color: var(--text-color-secondary);
  }

  &__label {
    font-weight: 500;
  }
}
